body {
  font-size: var(--step-0);
  font-family: var(--font-neogrotesque);
  font-weight: 300;
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-primary);
  margin: auto;
  max-width: 1280px;
  padding: 0 .4em;
  padding-left: .6em;
}

h1, h2, h3, nav {
  font-family: var(--font-monospace-slabserif);
  text-transform: lowercase;
}

h3 {
  font-size: var(--step-1);
}

h2 {
  font-size: var(--step-2);
}

h1 {
  font-size: var(--step-4);
  font-weight: 400;
  text-align: center;
}

h1, h2 {
  margin: .3em 0;
}

a, h1 a, h2 a, h3 a, h4 a, nav a {
  color: var(--color-primary);
}

p.large {
  font-size: var(--step-2);
  width: 80%;
  margin: auto;
  margin-top: var(--space-m);
}

time {
  font-family: var(--font-monospace);
  font-size: var(--step--1);
}

.highlighted {
  background-color: var(--color-bg-highlight);
}

time.highlighted {
  padding: var(--space-s);
}

time.highlighted.banner {
  display: block;
  width: 100%;
  padding: var(--space-2xs) 0;
  text-align: center;
  font-size: var(--step-0);
}

a.external::after {
  font-family: var(--font-neogrotesque);
  content: "\2197\FE0E";
}

/* Alternate linkout marker
a[href^="http"]:where(:not([href*="fonorobert.com/"]))::after {
  font-family: var(--font-neogrotesque);
  content: "︎\2197\FE0E";
}
*/

a[href^="http"]:where(:not([href*="fono.day/"]))::after{
    content: "︎↗";
}

nav a::after {
  content: "" !important;
}

img a::after{
    content: "" !important;
}

/* Header and menu */

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: var(--space-3xs) solid var(--color-primary);
}

.site-title {
  font-family: var(--font-monospace);
  font-size: var(--step-5);
  font-style: italic;
  font-weight: 400;
  text-transform: lowercase;
}

.site-title a {
    color: var(--color-accent);
}

nav ul {
  list-style-type: none;
  text-transform: lowercase;
}
header nav {
  margin-left: auto;
  font-size: var(--step-1);
}
header nav ul {
  display: flex;
}

nav ul li {
  margin-right: var(--space-s);
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-xl);
}

footer nav {
  font-size: var(--step-0);
}

/* Image-and-text */

.image-and-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--space-l);
  width: 80%;
  margin: auto;
}

.image-and-text figure {
  flex: 1 1 30%;
  max-width: 100%;
  margin: 0;
}

.image-and-text div {
  flex: 1 1 60%;
  max-width: 100%;
}

.image-and-text figure img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .image-and-text div, .image-and-text figure {
    flex: 0 0 100%;
  }

  .image-and-text figure {
    order: 20;
  }
}

/* Stories list */

main.stories.list .listcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

main.stories.list article {
  max-width: 400px;
  margin-bottom: var(--space-l);
}

main.stories.list h2 {
  font-size: var(--step-0);
}

figure.featured-image {
  padding: 0;
  margin: 0;
}
.featured-image img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* List titles */

main.list article h2 a {
  text-decoration: none;
}

main.list article h2 a:hover {
  text-decoration: underline;
}

/* Notes list - unused! */

main.notes.list article p {
  margin-top: 0;
}

main.notes.list article h2 {
  margin-bottom: 0;
}